{% extends 'layout.twig' %}

{% block body %}
    <div class="d-md-flex ">
        <div class="flex-self-stretch bg-gray-dark col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
            <img class="circle mb-3" src="{{ profile.gravatarUrl }}" style="max-width: 150px;">

            <h1 class="text-white mb-2 lh-condensed">Joshua Ghali</h1>
            <p class="mb-3 f4 text-white"></p>


            <div class="f4 mb-6">
                {% for l in profile.links %}
                    <div class="d-flex flex-items-center mb-3">
                        <i class="fab {{ l.icon }} mr-2 v-align-middle" style="color:white;"></i>
                        <a class="text-white" href="{{ l.link }}">
                            {{ l.title }}
                        </a>
                    </div>
                {% endfor %}
                <div class="d-flex flex-items-center mb-3 text-white">
                    <svg aria-label="Location" class="octicon octicon-location mr-2 v-align-middle" fill="#ffffff" height="20" role="img" version="1.1" viewbox="0 0 12 16" width="15">
                        <path d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z" fill-rule="evenodd"></path>
                    </svg>
                    {{ profile.location }}
                </div>
            </div>


        </div>

        <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" style="background-color: #2f363d !important">
            <div class="mx-auto" style="max-width: 900px;">

                <h2 class="text-white">About myself</h2>
                <p class="f4 mb-4 text-white">{{ profile.description }}</p>


                <h2 class="text-white">My Projects</h2>
                <p class="f4 mb-4 text-white">Projects I worked on</p>

                <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
                    {% for project in projects %}
                        <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3 project-card">

                            <div class="github-component height-full text-left box-shadow bg-white rounded-1 p-3">
                                <div class="d-flex flex-justify-between flex-items-start mb-1">
                                    <h1 class="f4 lh-condensed mb-1">
                                        <a href="{{ project.url }}">
                                            <i class="fab fa-{{project.provider}} tint-{{ project.provider }} provider-icon"></i>
                                            <span class="text-normal">jjghali /</span>
                                            {{ project.title }}
                                        </a>
                                    </h1>
                                </div>
                                <div class="text-gray mb-2 ws-normal">{{ project.description }}</div>

                            </div>

                        </div>
                    {% endfor %}

                </div>


                <h2 class="text-white">My Interests</h2>
                <p class="f4 mb-4 text-white">Topics that I want to learn more about.</p>
                <div class="d-flex flex-wrap gutter-condensed mb-4">

                    {% for skill in profile.skills %}
                        <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
                            <div class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
                                <i class="{{ skill.icon }} colored icon" height="64" width="64"></i>
                                <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ skill.name }}</p>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>
        </div>
    </div>


{% endblock %}
