<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">

    <head>
        <title>Joshua Ghali - Portofolio</title>
        <meta charset="utf-8">
        <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <!--OpenGraph -->

        <meta content="Joshua Ghali - Portofolio" property="og:title">
        <meta content="Joshua Ghali - Portofolio" property="og:site_name">


        <meta content="website" property="og:type">
        <meta content="https://joshuaghali.com" property="og:url">
        <meta content="{{ profile.gravatarUrl }}" property="og:image">
        <meta
        content="{{ profile.description }}" property="og:description">

        <!-- Twitter tags -->
        <meta content="summary" name="twitter:card">

        <meta content="Joshua Ghali - Portofolio" name="twitter:title">
        <meta content="{{ profile.description }}" name="twitter:description">
        <meta content="{{ profile.gravatarUrl }}" name="twitter:image">
        <meta content="@jjghali" name="twitter:site">
        <meta content="@jjghali" name="twitter:creator">


        <link href='/stylesheets/style.css' rel='stylesheet'/>
        <link href='/stylesheets/all.css' rel='stylesheet'/>
        <link href='/stylesheets/gitrepos.css' rel='stylesheet'/>
        <link href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" rel="stylesheet">
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">


    </head>
    <body class="bg-white" style="background-color:#2f363d !important">

        {% block body %}{% endblock %}
    </body>
</html>
